<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<FORM NAME="Calc">
		<TABLE BORDER=4>
			
			
			<th colspan="4"><INPUT TYPE="text" NAME="Input" ></INPUT></th>
			
						
			<Tr>
				<td><INPUT TYPE="button" NAME="seven"   VALUE=" 7 " OnClick="Calc.Input.value += '7'"></INPUT></td>
				<td><INPUT TYPE="button" NAME="eight"   VALUE="  8  " OnCLick="Calc.Input.value += '8'"></INPUT></td>
				<td><INPUT TYPE="button" NAME="nine"   VALUE="  9  " OnCLick="Calc.Input.value += '9'"></INPUT></td>
				<td><INPUT TYPE="button" NAME="mult"  VALUE="  *  " OnClick="Calc.Input.value += ' * '"></INPUT></td>
			</tr>
			<tr>
				<td><INPUT TYPE="button" NAME="four"  VALUE="  4  " OnClick="Calc.Input.value += ' 4 '"></INPUT></td>
				<td><INPUT TYPE="button" NAME="five"  VALUE="  5  " OnClick="Calc.Input.value += ' 5 '"></INPUT></td>
				<td><INPUT TYPE="button" NAME="six"  VALUE="  6  " OnClick="Calc.Input.value += ' 6 '"></INPUT></td>
				<td><INPUT TYPE="button" NAME="div"  VALUE="  /  " OnClick="Calc.Input.value += ' / '"></INPUT></td>
			</tr>
			<tr>
				<td><INPUT TYPE="button" NAME="one"  VALUE="  1  " OnClick="Calc.Input.value += ' + '"></INPUT></td>
				<td><INPUT TYPE="button" NAME="two"  VALUE="  2  " OnClick="Calc.Input.value += ' + '"></INPUT></td>
				<td><INPUT TYPE="button" NAME="three"  VALUE="  3  " OnClick="Calc.Input.value += ' + '"></INPUT></td>
				<td><INPUT TYPE="button" NAME="plus"  VALUE="  +  " OnClick="Calc.Input.value += ' + '"></INPUT></td>
			</tr>
			<tr>
				<td><INPUT TYPE="button" NAME="zero"  VALUE="  0  " OnClick="Calc.Input.value += ' + '"></INPUT></td>
				<td><INPUT TYPE="button" NAME="period"  VALUE="  .  " OnClick="Calc.Input.value += ' + '"></INPUT></td>
				<td><INPUT TYPE="button" NAME="equal"  VALUE="  =  " OnClick="Calc.Input.value = eval(Calc.Input.value)"></INPUT></td>
				<td><INPUT TYPE="button" NAME=""  VALUE="  CE  " OnClick="Calc.Input.value = ''"></INPUT></td>
			</tr>
			
		</TABLE>
	</FORM>
</body>
</html>