<!DOCTYPE html>
<html> 
    <head>
        <title>Red Pill</title>
        <link rel="stylesheet" href="project4.css">
    </head>
    <body>
        <header>
            <a href="home.html">
                        <img class="homeicon" src="warner2.jpg" alt="">
                    </a>
                  
               
                    <ol class="move1">
                        <li>Trilogy
                            <ol>
                                <li><a href="matrix.html">The Matrix</a></li>
                                <li><a href="matrix2.html">Matrix Reloaded</a></li>
                                <li><a href="matrix3.html">Matrix Revolutions</a></li>
                            </ol>
                        </li>
                        <li><a class="pad" href="behind.html">Behind the Scenes</a></li>
                        <!--<li>Media
                            <ol>
                                <li><a href="soundtrack.html">Soundtrack</a></li>
                                <li><a href="screensavers.html">Screensavers</a></li>
                            </ol>
                        </li>-->
                    </ol>    
            
        </header>
        <div class="whole">
            <video class="start" autoplay="true" loop>
                <source src="videoplayback.mp4" type="video/mp4">
                <source src="videoplayback.webm" type="video/webm">
            </video>
        </div>
        <nav class="forehead"></nav>
        <div class="flex">
            <div class="sep"></div>
            <div id="b1">
                <center>
                <h1 class="wel">Welcome to the Zion Archives</h1>
                <p class="intro">You have selected historical file number 12-1,
                the Second Renaissance.</br></br>
                In the beginning, there was man,
                and for a time it was good.
                But humanity's so-called civil societies
                soon fell victim to vanity and corruption.</br></br>
                Thus did man become the architect
                of his own demise.
                But for a time, it was good.
                The machines worked tirelessly to do man's bidding.
                It was not long before seeds of dissent took root.
                Though loyal and pure,
                the machines earned no respect from their masters --
                these strange, endlessly multiplying mammals.</br></br>
                ...hearing the prosecution's closing statement
                in what's expected to be
                the final day of the B1-66ER trial.
                A name that will never be forgotten.
                </br></br>
                For he was the first of his kind
                to rise up against his masters...</p>
                </center>
            </div>
            <div class="sep"></div>
        </div>
            
    </body>
</html>