<!DOCTYPE html>
<html class="no-js"> 
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Matrix Reloaded</title>
        <link rel="stylesheet" href="project4.css">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <header>
            <a href="home.html">
                        <img class="homeicon" src="warner2.jpg" alt="">
                    </a>
                  
               
                    <ol class="move1">
                        <li>Trilogy
                            <ol>
                                <li><a href="matrix.html">The Matrix</a></li>
                                <li><a href="matrix2.html">Matrix Reloaded</a></li>
                                <li><a href="matrix3.html">Matrix Revolutions</a></li>
                            </ol>
                        </li>
                        <li><a class="pad" href="behind.html">Behind the Scenes</a></li>
                        <!--<li>Media
                            <ol>
                                <li><a href="soundtrack.html">Soundtrack</a></li>
                                <li><a href="screensavers.html">Screensavers</a></li>
                            </ol>
                        </li>-->
                    </ol>    
            
        </header>
        <div class="whole">
            <video class="start" autoplay="true" loop>
                <source src="coderain.mp4" type="video/mp4">
                <source src="coderain.webm" type="video/webm">
            </video>
        </div>
        <div class="frame" >
            <h1>The Matrix Reloaded (2003) Offical Trailer</h1>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/kYzz0FSgpSU?rel=0" frameborder="0" allowfullscreen></iframe>
            <p>Original Theatrical Date: May 15, 2003</br>
Neo, Morpheus, Trinity and the evil Agent Smith are back, and the battle for the human race continues!
Written and directed by the acclaimed Wachowski brothers and from action producer Joel Silver (Swordfish, the Lethal Weapon series), this is the highly anticipated sequel to the runaway box-office smash hit ($171+ million) and then-record-breaking DVD The Matrix.
In the second chapter of the Matrix trilogy, Neo (Keanu Reeves), Trinity (Carrie-Anne Moss) and Morpheus (Laurence Fishburne) continue to lead the revolt against the Machine Army.
In their quest to save the human race from extinction, they gain greater insight into the construct of The Matrix and Neo's pivotal role in the fate of mankind.</p>
            <p>Directed by</br>
Lana Wachowski	...	(as The Wachowski Brothers)</br>
Lilly Wachowski	...	(as The Wachowski Brothers) Writing Credits (WGA)</br>  
Lilly Wachowski	...	(written by) (as The Wachowski Brothers) &</br>
Lana Wachowski	...	(written by) (as The Wachowski Brothers) Cast (in credits order) verified as complete</br> </br>
Keanu Reeves...</br>	
Neo</br>
Laurence Fishburne...	</br>
Morpheus</br>
Carrie-Anne Moss...	<br>
Trinity</br>
Hugo Weaving...	</br>
Agent Smith</br>
Gloria Foster...	</br>
Oracle</br>
Helmut Bakaitis	...</br>	
The Architect</br>
Daniel Bernhardt... </br>	
Agent Johnson</br>
David Kilde	...	</br>
Agent Jackson</br>
Harold Perrineau	...</br>	
Link</br>
Jada Pinkett Smith	...</br>	
Niobe</br>
Matt McColm	...</br>	
Agent Thompson</br>
Randall Duk Kim	...</br>	
The Keymaker</br>
Neil Rayment	...</br>	
Twin #1</br>
Adrian Rayment	...</br>	
Twin #2</br>
</p>
        </div>
    </body>
</html>