<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="project4.css">
        <title>Blue Pill</title>
        <meta name="viewpoint" content-type="width=device-width initial-scale=1">
    </head>
    <body class="fcity">
        <header>
            
               
                    <a href="home.html">
                        <img class="homeicon" src="warner2.jpg" alt="">
                    </a>
                  
               
                    <ul class="move1">
                        <li>Trilogy
                            <ul>
                                <li><a href="matrix.html">The Matrix</a></li>
                                <li><a href="matrix2.html">Matrix Reloaded</a></li>
                                <li><a href="matrix3.html">Matrix Revolutions</a></li>
                            </ul>
                        </li>
                        <li><a class="pad" href="behind.html">Behind the Scenes</a></li>
                        <!--<li>Media
                            <ul>
                                <li><a href="soundtrack.html">Soundtrack</a></li>
                                <li><a href="screensavers.html">Screensavers</a></li>
                            </ul>
                        </li>-->
                    </ul>
              
                
        </header>
        
        
        
        <div class="fixed margin1">
            <p><a class="one" href="#who">Who We Are</a></p>
            </br>
            <p><a class="one" href="#terrorist">Terrorism</a></p>
            </br>
            <p><a class="one" href="#cyber">CyberCrime</a></p>
        </div>
        </br></br>
        
        <div>
            <div class="para">
                <h1 id="who">WHO WE ARE</h1>
                <p class="smaller">The Bureau today is considered one of the 
                    world's premier security and crime-fighting forces. 
                    Reporting to both the attorney general and director of national 
                    intelligence, the Bureau has dual responsibilities as a law 
                    enforcement and intelligence agency. Learn about our vision, 
                    mission, priorities, core values, budget, and more. </p>
                <img class="agent" src="Matrix_Agents.jpg" alt="agents">
                <p class="smaller">"We all wish to do the right thing. 
                    We're willing to wipe the slate clean. All that we're asking 
                    in return is your cooperation in bringing known terrorist 
                    to justice." -Agent Smith, Chief Commander of the Bureau
                    Department</p>
            </div>
        </div>
        </br></br>
        
        <div class="para">    
            <h1 id="terrorist" class="smaller">TERRORISM</h1>
            <p class="smaller">The Bureau's National Joint Terrorism Task Force 
            manages more than 100 Joint Terrorism Task Forces (JTTFs)
            around the nation, where agencies work together to combat 
            terrorism on a regional scale-sharing intelligence and working
            joint investigations. These JTTFs provide information regarding
            terrorist activities, enable a shared intelligence base across 
            many agencies, create familiarity among investigators and 
            managers before a crisis, and perhaps most importantly they pool
            talents, skills, and knowledge from across the law enforcement 
            and intelligence communities into a single team that responds
            together.</p>
        </div>
        <div class="para">
            <a href="#neo">
            <img class="click" src="thomas.png" alt="neo">
            </a>
            <a href="#morph">
                <img class="click" src="morph.jpg" alt="morph">
            </a>
            <a href="#trin">
                <img class="click" src="trini.jpg" alt="trin">
            </a>

            <div class="modal" id="neo">
                <div class="modal-container">
                    <img class="big" src="thomas.png" alt="neo">
                    <h2>Thomas Anderson</h2>

                    <div class="flex1">
                        <div>
                            <p>REWARD</br>The Bureau is offering a reward of 
                                up to $800,000 for intel leading to the arrest
                                of Thomas Anderson</p>
                            <p>Aliases: "Morpheus", "Trinity"</br>
                            Date of Birth Used: 13, Sept 1971</br>
                            Hair: Black</br>Sex: Male</br>
                            Race: Caucasian
                            </p>
                        </div>
                        <div>
                            <p>CAUTION</br>
                            Subject hacker alias "Neo." Is 
                            responsible for 
                            the death of 8 cops, 30 military personal,
                            corporate espionage, 9 cases of cyber crime,
                            and is linked to more than 30 cases of 
                            kidnapings.</br>
                            Subject is extremely dangerous and at large.
                            </p>
                        </div>
                    </div>

                    <a href="#modal-close" class="close">Close</a>
                </div>
            </div>

            <div class="modal" id="morph">
                <div class="modal-container">
                    <img class="big" src="morph.jpg" alt="morph">

                    <h2>"Morpheus"</h2>
                    <div class="flex1">
                        <div>
                            <p>REWARD</br>The Bureau is offering a reward of 
                                up to $2,000,000 for intel leading to the arrest
                                of "Morpheus"</p>
                            <p>Aliases: Thomas Anderson, "Trinity"</br>
                            Date of Birth Used: Unknown</br>
                            Hair: Bald</br>Sex: Male</br>
                            Race: Black
                            </p>
                        </div>
                        <div>
                            <p>CAUTION</br>
                            Subject is multilingual. Is responsible for 
                            the death of 20 cops, 50 military personal, 
                            cyber espionage, car theft and is linked to more
                            than 30 cases of kidnapings.</br>
                            Subject is extremely dangerous and at large.
                            </p>
                        </div>
                    </div>

                    <a href="#modal-close" class="close" >Close</a>
                </div>
            </div>

            <div class="modal" id="trin">
                <div class="modal-container">
                    <img class="big" src="trini.jpg" alt="trin">
                    <h2>"Trinity"</h2>
                    
                    <div class="flex1">
                        <div>
                            <p>REWARD</br>The Bureau is offering a reward of 
                                up to $800,000 for intel leading to the arrest
                                of "Trinity"</p>
                            <p>Aliases: Thomas Anderson, "Morpheus"</br>
                            Date of Birth Used: Unknown</br>
                            Hair: Black</br>Sex: Female</br>
                            Race: Caucasian
                            </p>
                        </div>
                        <div>
                            <p>CAUTION</br>
                            Subject is multilingual. Is responsible for 
                            the death of 8 cops, 30 military personal, 
                            cyber espionage, car theft and is linked to more
                            than 30 cases of kidnapings.</br>
                            Subject is extremely dangerous and at large.
                            </p>
                        </div>
                    </div>
                    <a href="#modal-close" class="close" >Close</a>
                </div>
            </div>
        </div>
        <div class="para">
            <p class="smaller"><span id="grow">Above are last comfirmed data of the
                top three most wanted fugitives. Click image for profile.</span>
                </br></br>Notice: The official Bureau Department Ten
                Most Wanted Fugitives
                list is maintained on our website. This information
                may be copied and distributed, however, any unauthorized
                alteration of any portion of the Bureau Department 
                Ten Most Wanted
                Fugitives posters is a violation of federal law 
                (18 U.S.C., Section 709). Persons who make or reproduce
                these alterations are subject to prosecution and, if
                convicted, shall be fined or imprisoned for not more
                than one year, or both.</p>
        </div>
        <div class="para">    
            <h1 id="cyber" class="smaller">CYBER CRIME</h1>
            <img class="hacker" src="hacker.jpg">
            <p class="smaller">The Bureau Department is the lead federal 
            agency for investigating
            cyber attacks by criminals, overseas adversaries, and terrorists. The
            threat is incredibly serious and growing. Cyber intrusions are becoming 
            more commonplace, more dangerous, and more sophisticated. Our nation's 
            critical infrastructure, including both private and public sector 
            networks, are targeted by adversaries. Nation's companies are targeted 
            for trade secrets and other sensitive corporate data, and universities 
            for their cutting-edge research and development. Citizens are targeted 
            by fraudsters and identity thieves, and children are targeted by online 
            predators. We are undertaking a
            transformation to address the pervasive and evolving cyber threat. 
            This means enhancing the Cyber Division's investigative capacity to 
            sharpen its focus on intrusions into government and private computer 
            networks.
        </div>
    </body>
</html>