<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Upload App Files</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" onclick="returnSelectDefault()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div id="fakeModalForm">
          
          <div class="form-group" id="logic_input">
            <label for="game_file">Logic File</label>

            <input name="game_file" class="form-control" type="file" accept=".js, .wasm">
          </div>

          <div class="form-group" id="style_input">
            <label for="style_file">Style File(optional)</label>

            <input name="style_file" class="form-control" type="file" accept=".css">
          </div>

        </div>

        <button class="btn btn-primary btn-block" onclick="moveUploadedNativeFilesToForm()">Upload</button>

      </div>
    </div>
  </div>

  <script>
    const logic = $('#logic_input');
    const style = $('#style_input');
    const fakeModalForm = $('#fakeModalForm');

    function moveUploadedNativeFilesToForm() {
      const logicClone = logic.clone();
      const styleClone = style.clone();

      modalDataContainer.prepend(logicClone);
      if (style.children()[1].value) modalDataContainer.prepend(styleClone);

      logic.children()[1].value = '';
      style.children()[1].value = '';

      type.css('display', 'none');

      displayUploads.children()[2].value = `Logic: ${regexFormatFromFilePath(logic.children()[1].value)}; Style?: ${regexFormatFromFilePath(style.children()[1].value)}`;

      displayUploads.css('display', 'block');

      $('#exampleModalCenter').modal("hide");
    }
  </script>
</div>