<% include ../../boilerplates/top.ejs %>

  <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css"> -->

  <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script> -->

  <link rel="stylesheet" href="css/altz.css">

  <title>ALTZ-082B</title>
</head>
<body>
  <% include ../../boilerplates/nav.ejs %>

  <div class="game"></div>

  <script type="text/javascript" src="js/altz/altz.js"></script>
  <!-- <script>
    let game = document.querySelector('.game');
    Mystic8.start(game);
  </script> -->

<% include ../../boilerplates/bottom.ejs %>