<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
  <link rel="stylesheet" href="../style/style.css">
</head>
<body onload="quote()">

  <h1>PhaSe.T</h1>
  <h3 id="quotes"></h3>
  <script>


    const quotes = ['"It is He Who created the Night and the Day, and the sun and the moon: all (the celestial bodies) swim along, each in its rounded course." Surah Al-Anbiya, 33 - The Holy Quran',`"Don't tell me the moon is shining; show me the glint of light on broken glass" - Anton Chekhov`,'"And the Moon,- We have measured for her mansions (to traverse) till she returns like the old (and withered) lower part of a date-stalk." Surah Ya Sin, 39 - The Holy Quran',`“Moonlight drowns out all but the brightest stars.”― J.R.R. Tolkien`
,'“Do not swear by the moon, for she changes constantly. then your love would also change.” - William Shakespeare, Romeo and Juliet','“Everyone is a moon, and has a dark side which he never shows to anybody.” ― Mark Twain'];

    let sort = quotes[Math.floor(Math.random()*5)];
    let sort2 = quotes[Math.floor(Math.random()*5)];
    let welcomer = document.querySelector('#quotes');

    function quote(){
      welcomer.innerHTML = sort2;
      setInterval(function replay(){
        welcomer.innerHTML = sort;

      }, 10000);
    }

  </script>
  <!-- randomized quotes DOM manipulated by js -->
