<% include ./boilerplates/top.ejs %>

	<title>Static Domain</title>
</head>
<body>
	<% include ./boilerplates/nav.ejs %>

	<div class="centered belly gloria">
		<div class="article" style="width: 50%">
			<h1>Welcome!</h1>
			<p>Please use the menu above to navigate through my applications</p>
			<p>Enjoy!</p>
		</div>
	</div>
</body>
</html>