<h1>Hi</h1><!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="centered belly gloria">
    <h1>Welcome!</h1>
    <p>Please use the menu above to navigate through my apps</p>
    <p>Enjoy!</p>
		<main id="article" style="width: 50%"></main>
	</div>
  <script type="application/javascript" src="../dist/utils.bundle.js"></script>

  <script>
    Window.games = {};
    let article = document.getElementById("article");
    
    const { 
      lengthInUtf8Bytes,
      encryptAndPushCode
    } = Window.utils;
  </script>

  <%- body %>
</body>
</html>