.inject {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.ticTitle {
  font-family: 'Indie Flower', cursive;
  text-align: center;
  font-size: 50px;
  text-decoration: underline;
  /*margin-top: 15px;*/
  color: white;
  /*position: absolute;*/
  z-index: 1;
}
.ticBoard {
  display: flex;
  justify-content: space-around;
  align-items: center;
  /*height: 74%;*/
  margin: 20px 0px; 
  width: 100%;
}
.bkgrd {
  /*padding-top: 30px;*/
  height: 100%;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRr7rbiRu6t1qN1H9G5anzU9KJzjOUN-03HswgBbIbPOhzzf8evwg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}
.ticBox {
  width: 30%;
  min-width: 240px; 
  /*height: 100%;*/
}
.sword {
/*  background-image: url(https://svgsilh.com/svg/3181584.svg);
  background-size: 100%;
  background-repeat: no-repeat;*/

  /*height: 20px;*/
  /*position: absolute;*/
  /*z-index: 1;*/
  font-size: 25px;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: white;
  padding: 0;
  margin: 0;
}
.sword:hover {
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.block > div {
  margin: 2%;
  background-color: rgba(169,169,169,0.2);
  border: solid black 3px;
  border-radius: 10%;
  text-align: center;
  font-family: 'Indie Flower', cursive;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.block > div > p {
  position: absolute;
  font-size: 60px;
  margin: 0;
  padding: 0;
  width: 100%;
}
.scoreO, .scoreX {
  font-family: 'Indie Flower', cursive;
  font-size: 60px;
  height: inherit;
  /*height: 100%;*/
  /*position: relative;*/
}
.scoreO > h3 {
  margin: 0;
  padding: 0;
  color: red;
  text-decoration: underline;
}
.scoreX > h3 {
  margin: 0;
  padding: 0;
  color: blue;
  text-decoration: underline;
}
.scoreO > div, .scoreX > div {
  /*font-size: 35px;*/
  color: white;
  /*position: absolute;*/
}
.block {
  /*font-size: 10vh;*/
  position: absolute;
  top: 0;  bottom: 0;  left: 0;  right: 0;
  display: grid;
  grid-template-rows: repeat(3, auto);
  grid-template-columns: repeat(3, auto);
  color: white;
}
.block div:hover {
  background-color: rgba(169,169,169,0.6);
}
#track {
  font-family: 'Indie Flower', cursive;
  font-size: 35px;
  color: white;
  text-align: center;
  text-shadow: 0 0 3px #F00000, 0 0 5px #00000F;
}
.aspect {
  padding-bottom: 100%;
}
#again {
  font-family: 'Indie Flower', cursive;
  font-size: 50pt;
  float: right;
  position: relative;
  right: 29%;
  margin-top: 90px;

  text-align: left;
}
#jin {
  display: none;
  position: absolute;
  width: 100%;
  /*border-radius: 10px;*/
  /*border: solid blue 3px;*/
  z-index: 3;
  opacity: 0;
}
#mugen {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 3;
  opacity: 0;
  /*border: solid red 3px;*/
  /*border-radius: 10px;*/
}
.ticDesc {
  font-family: 'Indie Flower', cursive;
}
.sideScores {
  height: 100%;
}
.bottomScore {
  height: 120px;
  width: 100%;
  display: none;
}

@media only screen and (max-width: 600px){
  .ticBox {
    min-width: 250px;
  }
  .sideScores {
    display: none;
  }
  .bottomScore {
    display: flex; 
    justify-content: 
    space-around;
  }
}

