<% include partials/head.ejs %>

  <link rel="stylesheet" href="assets/index.css">
</head>
<body>
<!--   <audio id="player" autoplay loop>
    <source src="images/idealism - phosphenes.ogg" type="audio/ogg">
    <source src="images/idealism - phosphenes.mp3" type="audio/mp3">
  </audio> -->

  <div class="flexThisToo">
    <div class="fix">
      <div class="slideThis">
        <div class="flexThisTooToo">
          <span>Ivan</span>

          <div class="flexThis"> 
            <button onclick="document.querySelector('#player').pause()">||</button>
            <button onclick="document.querySelector('#player').play()">&#9658;</button>
          </div>
        </div>

        <input type="range" min="0" max="100" value="20" id="volume" oninput="showVal(this.value)">

        <div id="theval">20%</div>
      </div>

      <div class="center">
        <!-- <img class="battery" src="../images/battery.png"> -->
        <div class="one" href="#about">About</div><br>
        <div class="two" href="#gallary">Gallery</div><br>
        <div class="three" href="#contact">Contact</div><br>
        <div class="four" href="https://github.com/Alvarian" target="_blank">Github</div>
      </div>

      <!-- <blink><img class="tall" src="images/electrotree.png" alt=""></blink> -->
    </div>

    <div class="flo">
      <div id="about">
        <hr>
        <h2>about</h2>
        <hr>
        <div class="andThis">
          <div class="will"><span>wl' do</span><br><img class="map2" src="../images/map1.png"></div>
          <div class="have"><span>hv' done</span><br><img class="book" src="../images/books.png"></div>
        </div>
      </div>

      <div id="gallery">
        <hr>
        <h2>gallery</h2>
        <hr>
        <h1>games</h1>
        <div class="conts"></div>
        <h1>art</h1>
        <div class="zonts"></div>
      </div>

      <div id="contact">
        <hr>
        <h2>contact</h2>
        <hr>
        <form id="contact-form" method="POST" action="/">
          <label for="name">name</label>
          <input type="text" name="name">
          <label for="email">email</label>
          <input type="email" name="email" />
          <label for="message">message</label>
          <textarea name="message"></textarea>
          <input type="submit" value="submit" />
        </form>
      </div>
    </div>
  </div>

      
  <div id="modals">
    <div id="modalOne" class="modal">
      <div id="done-content">
        <span class="close"></span>
        <div>will do</div>
      </div>
    </div>

    <div id="modalTwo" class="modal">
      <div id="do-content">
        <span class="close"></span>
        <div>have done</div>
      </div>
    </div>
  </div>

  <script src="src/main.js"></script>
<!--   <script src="//cdnjs.cloudflare.com/ajax/libs/wow/0.1.12/wow.min.js"></script>
  <script>
    new WOW().init();
  </script> -->

</body>
</html>
