<main>
  <h1>Most Recent Challenge</h1>

  <form action="">
    <input type="text" disabled value='<%= cachedChallenge.title %>'>
    
    <div id="solutionSlide">
      <textarea name="" id="" cols="30" rows="10"></textarea>
    </div>
  </form>
</main>

<script>
  console.log('<%= cachedChallenge.languages %>')
  const slide = document.getElementById('solutionSlide');
  
</script>