<nav>
	<ul class="centered play" style="width: 100%; position: absolute; z-index: 3; background-color: white; font-size: 16pt;">
		<!-- <li style="margin: 10px;"><a href="/">/home</a></li> -->
		<li style="margin: 10px;"><a href="/altz">/ALTZ-082B</a></li>
		<li style="margin: 10px;"><a href="/rivalry">/RIVALRY</a></li>
	</ul>
</nav>