<nav>
	<ul class="centered" style="width: 100%;">
		<li style="margin: 10px;"><a href="/home">/home</a></li>
		<li style="margin: 10px;"><a href="/altz">/altz</a></li>
		<li style="margin: 10px;"><a href="/rivalry">/rivalry</a></li>
	</ul>
</nav>