<!DOCTYPE html>
<html>
<head>
	<title>Bianca n Julie's Awsome WEbsit</title>
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.css">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
	<style type="text/css">
		.flex {
			display: flex;
			/*justify-content: space-between;*/
		}
		#title {
			width: 100%;
		}
		.dull {
			color: lightgrey;
			background: grey;
			border: lightgrey;
			cursor: default;
		}
		.dull:hover{
			color: lightgrey;
			background: grey;
			border: lightgrey;
			cursor: default;
		}
		.size {
			text-overflow: ellipsis;
			overflow: hidden;
			width: 90%;
		}
		#ticles {
			width: 20%;
		}
		#cancel {
			background: red;
			display: inline-block;
			color: white;
		}
		#edit {
			width: 75%;
			display: flex;
			justify-content: space-between;
		}
		#field {
			width: 80%;
		}
		#styles {
			width: 15%;
		}
		#ftname, #ftcolor, #ftsize {
			text-overflow: ellipsis;
			overflow: hidden;
			width: 90px;			
		}
/*		#all {
			overflow: hidden;
			width: 70%;
		}*/
		#delta, #alpha, #all {
			width: 8%;
			transition: 2s width;
			overflow: hidden;
		}
		#delta:hover, #alpha:hover, #all:hover {
			width: 80%;
		}
		#all div {
			border-left: solid 25px red;
			border-right: solid 1px black;
		}
		#alpha div {
			border-left: solid 25px blue;
			border-right: solid 1px black;
		}
		#delta div {
			border-left: solid 25px green;
			border-right: solid 1px black;
		}
/*		#all h5, #all span{
			overflow: hidden;
		}*/
		#can {
			position: absolute;
			margin-left: 40%;
			margin-top: 498px;
		}

	</style>
</head>
<body>
	<nav>
		<a id="logOut" href="/">Home</a>
		<a id="logOut" href="/world">World</a>
		<a id="logOut" href="/sex">Sex</a>
		<a id="logOut" href="/gossip">Gossip</a>
		<a id="logOut" href="/fashion">Fashion</a>
	</nav>
	<hr>
	