<% if (typeof errors != 'undefined') { %>
	<% errors.forEach(function(error) { %>
		<div style="background-color: yellow"><%= error.msg %></div>
	<% }); %>
<% } %>

<% if (success_msg != '') { %>
	<div style="background-color: cyan"><%= success_msg %></div>
<% } %>

<% if (error_msg != '') { %>
	<div style="background-color: pink"><%= error_msg %></div>
<% } %>

<% if (error != '') { %>
	<div style="background-color: orange"><%= error %></div>
<% } %>