<% include ../../boilerplates/top.ejs %>

  <link rel="stylesheet" href="css/rivalry.css">
  <link href="https://fonts.googleapis.com/css?family=Indie+Flower" rel="stylesheet">

  <title>TIC TAC TOE</title>
</head>
<body>
  <% include ../../boilerplates/nav.ejs %>

  <div class="game"></div>
  <!-- <div id="again" onclick="reset()">nnn</div> -->

  <script type="text/javascript" src="js/rivalry.js"></script>
  <!-- <script>
    let game = document.querySelector('.game');
    Rivalry.start(game);
  </script> -->

<% include ../../boilerplates/bottom.ejs %>
