<% include boilerplates/topBun.ejs %>

	<h1>Welcome to world page</h1>

	<div id="articles"></div>

	<% include boilerplates/styleTop.ejs %>

		let ref = db.ref('world');

		ref.on('value', gotData, errData);

		let art = [];
		let tit = [];
		
		let length1;
		let length2;
		function gotData(data){
			console.log("in got");

			let names = data.val();
			let keys = Object.keys(names);
			for(let i=0; i<keys.length; i++){
				let k = keys[i];
				art.push(names[k].article);
				tit.push(names[k].title);
			}
			let articles = art.reverse();
			let titles = tit.reverse();

			for (let j=0; j<articles.length; j++){		
				document.querySelector("#articles").innerHTML += "<br><h3 class="+[j]+">"+titles[j]+"</h3><p class="+[j]+">"+articles[j].replace(/\n/g,"<br>")+"</p>";
			}

			console.log("length of array: "+titles.length);
			// toggle from 1 to 2 once 1 has value
			if(typeof length1 == 'number'){
				length2 = titles.length
				console.log("load dup count: "+length2);
			}
			else{
				length1 = titles.length
				console.log("load count: "+length1);
			}
			if(length2 >= length1*2){
				location.reload();
			}

			console.log("end got");
		}
		function errData(data){
			console.log("ERROR: "+data);
		}

<% include boilerplates/bottomBun.ejs %>
